/* product */

.productDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 50px;
}

.mainTitle {
    height: 100px;
    font-size: 50px;
    text-align: center;    
    margin-top: 50px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.productButton {
    display: flex;
    justify-content: center;
    align-items: center;

}

.goCartButton {
    position: absolute;
    top: 50px;
    right: 110px;
}
/* cart */

.cartDisplay {
    width: 700px;
    display: flex;
    /* justify-content: center; 
    align-items: center; */
    padding-left: 50px;
}

/* item for product */

.itemForProducts{
    width: 320px;
    height: 320px;

    padding: 10px;

}

.itemImagePlaceholder{
    width: 320px;
    height: 180px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}


#itemProductImage {
    width: 320px;
    height: 160px;
    overflow: hidden;    
}

#productItemTitle{
    height: 60px;
    /* text-align: center; */
    font-size: 18px;
}

#productItemScore{
    /* height: 80px;
    text-align: center; */
    font-size: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#productItemPrice {
    /* padding: 10px;
    width: 160px; */
    font-size: 18px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

/* item for cart */

.itemForCart{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.cartPlaceholder{
    display: flex;
}


#itemCartImage {
    width: 320px;
    overflow: hidden;    
}

#cartItemTitle{
    height: 60px;
    /* text-align: center; */
    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#cartItemScore{
    /* height: 80px;
    text-align: center; */
    font-size: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#cartItemPrice {
    padding: 10px;
    width: 160px;
    font-size: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#cartItemCoupon {
    padding: 10px;
    width: 200px;
    font-size: 16px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}